h1 {
    text-align: center;
}

#container {
    background-color: green;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#container div {
    width: 200px;
    height: 200px;
    flex-basis: 200px;
} 

div:nth-of-type(1) {
    /* flex-grow: 1; */
    flex-shrink: 1;
}

div:nth-of-type(5) {
    /* flex-grow: 1; */
    flex-shrink: 1;
} 

/*
div:nth-of-type(3) {
    align-self: flex-end;
} */

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: aqua;
    flex: 1 2 300px;
}

main .content {
    background-color: violet;
    flex: 2 1 800px;
}